kdrpoints
mysql
kdrpoints
password
randomkey
8373858493748-393irehjfbdkdnlsjfh32r4tyrgbhdsg.apps.googleusercontent.com
sldjflasdf_-dsfljdfdskd0
smtp.gmail.com
465
True
pointsmaster@yoursite.com
password
