html {
  position: relative;
  min-height: 100%;
}

.jumbotron {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #f5f5f5;
  padding-top: 5px;
}

.github a:link {
    color: #000000;
}

.github a:visited {
    color: #000000;
}

.github a:hover {
    color: #696969;
}

.side-pad {
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.award {
    padding-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.desc {
    padding-top: 2em;
}

.lblspace {
    padding-bottom: 10px;
}

.required {
    color: red;
}

.space-above {
    padding-top: 1em;
}

.profile-user {
    margin-bottom: -2em;
}

.dropdown-menu-center {
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
}

.navbar-brand {
    padding-left: 1.5em;
}

.force-bottom {
    padding-bottom: 0px;
}

.service-dropdown {
    padding-left: 7px;
    padding-right: 7px;
}

/* Modifications for Flatly theme */
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #18bc9c;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #18bc9c;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #4d4d4d;
}

.panel-success>.panel-heading {
    color: #000000;
}

.btn-default {
    color: #000000;
}

.btn {
    padding: 3px 13px;
}
