{% extends 'admin/model/create.html' %}

{% block head %}
    {{ super() }}
        <link href="{{url_for('static', filename='cp/css/colpick.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='fa/css/font-awesome.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='icp/dist/css/fontawesome-iconpicker.min.css')}}" rel="stylesheet">
{% endblock %}
{% block tail %}
    {{ super() }}
        <script type='text/javascript' src="{{url_for('static', filename='cp/js/colpick.js')}}"></script>
        <script type='text/javascript' src="{{url_for('static', filename='icp/dist/js/fontawesome-iconpicker.js')}}"></script>
        <script type='text/javascript'>
            $('#color').colpick({
                layout:'hex',
                submit:0,
                colorScheme:'dark',
                onChange:function(hsb,hex,rgb,el,bySetColor) {
                    $(el).css('border-color','#'+hex);
                    // Fill the text box just if the color was set using the picker, and not the colpickSetColor function.
                    if(!bySetColor) $(el).val(hex);
                }
            }).keyup(function(){
                $(this).colpickSetColor(this.value);
            });
        </script>
        <script type='text/javascript'>
            $('#icon').iconpicker();
        </script>
        <script type='text/javascript'>
            $('.iconpicker-input').focus(function(){
                $('.iconpicker-search').focus();
            });
        </script>
{% endblock %}

