{% extends 'admin/model/edit.html' %}
{% block body %}
    {% block navlinks %}
        {{super()}}
    {% endblock %}
    {% call lib.form_tag(action=action) %}
        {{lib.render_form_fields(form, form_opts=form_opts)}}
        {% set i = 0 %}
        <h3>Roles <button class="btn btn-success" id="addrole"><i class="glyphicon glyphicon-plus"></i> Add</button></h3>
        <div class="row">
            <div class="col-md-12" id="rolesid">
                {% for r in model.roles %}
                <div class="form-group form-inline">
                    <div class="col-md-10 col-md-offset-2">
                        <input placeholder="Role name" value="{{r.name}}" class="form-control" type="text" name="role-name-{{i}}"></input> 
                        <label class="control-label">&nbsp;Min/Max?&nbsp;</label>
                        {% if r.min == r.max %}
                        <input class="form-control" type="checkbox" id="minmax-{{i}}"></input>
                        {% else %}
                        <input class="form-control" type="checkbox" id="minmax-{{i}}" checked></input>
                        {% endif %}
                        <input placeholder="# Brothers" class="form-control" type="text" name="role-min-{{i}}" value="{{r.min}}"></input>&nbsp;
                        {% if r.min != r.max %}
                        <span id="maxspan-{{i}}">&nbsp;to&nbsp;
                            <input placeholder="Max" class="form-control" type="text" name="role-max-{{i}}" value="{{r.max}}"></input>
                        </span>
                        {% endif %}
                        <i class="glyphicon glyphicon-remove" id="rm-{{i}}"></i>
                    </div>
                </div>
                {% set i = i + 1 %}
                {% endfor %}
            </div>
        </div>
        {{lib.render_form_buttons(return_url, extra(), is_modal) }}
    {% endcall %}
{% endblock body %}
{% block tail %}
    {{super()}}
    <script>
        function rmonclick(e){
            e.preventDefault();
            $(this).parent().parent().remove();
        }
        function checkclick(e){
            var iid = $(this).attr('id').split('-').slice(-1)[0];
            if ($(this).is(":checked")){
                $(this).next().attr("placeholder", "Min");
                $(this).next().after('<span id="maxspan-' + iid + '">&nbsp;to&nbsp;<input placeholder="Max" class="form-control" type="text" name="role-max-' + iid + '"></input></span>');
            } else {
                $(this).parent().find("[id^='maxspan-']").remove();
                $(this).next().attr("placeholder", "# Brothers");
            }
        }
        var i = {{model.roles|count}};
        $("#addrole").click(function(e){
            e.preventDefault();
            $("#rolesid").append('<div class="form-group form-inline"> <div class="col-md-10 col-md-offset-2"> <input placeholder="Role name" class="form-control" type="text" name="role-name-' + i + '"></input> <label class="control-label">&nbsp;Min/Max?&nbsp;</label><input class="form-control" type="checkbox" id="minmax-' + i + '"></input> <input placeholder="# Brothers" class="form-control" type="text" name="role-min-' + i + '"></input>&nbsp;<i class="glyphicon glyphicon-remove" id="rm-' + i + '"></i></div> </div>');
            $("#rm-"+i).click(rmonclick);
            $("input:checkbox[id=minmax-" + i + "]").click(checkclick);
            i++;
        });
    {% for i in range(0, model.roles|count) %}
        $("#rm-{{i}}").click(rmonclick);
        $("input:checkbox[id=minmax-{{i}}]").click(checkclick);
    {% endfor %}
    </script>
{% endblock tail %}
