{% extends 'servicebase.html' %}
{% block content %}
<div class="row"><div class="col-md-12"><h1><i class="fa fa-recycle"></i> All Service - {{g.current_semester.get_name()}}</h1></div></div>
{% for brother in brothers %}
<div class="col-md-4">
<div class="well row side-pad">
    <div class="col-md-8">
        <h3><div class="label label-primary">{{brother.name}}</div></h3>
    </div>
    <div class="col-md-4">
        <h3><div class="label label-success">{{brother.total_service_hours(semester=g.current_semester)|round(2)}}hrs</div></h3>
    </div>
</div>
</div>
{% endfor %}
{% endblock %}
