<!doctype html>
<html>
    <head>
        <title>
            {% if title %}
                {{title}} - KDRPoints
            {% else %}
                KDRPoints
            {% endif %}
        </title>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{url_for('static', filename='bs/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='bs/css/bootstrap-theme.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/custom.css')}}" rel="stylesheet">
    </head>

    <body role="document">
        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{url_for('.index')}}">KDR Points</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{url_for('.index')}}">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Founders Cup</a></li>
                <li><a href="#">Awards</a></li>
                <li><a href="{{url_for(".attend")}}">Attend</a></li>
                {% if g.user.is_authenticated() %}
                <li><a href="{{url_for(".logout")}}">Logout</a></li>
                {% if g.user.role > 0 %}
                <li><a href="/admin">Admin</a></li>
                {% endif %}
                {% else %}
                <li><a href="{{url_for(".login")}}">Login</a></li>
                {% endif %}
            </ul>
            </div>
        </div>
        </nav>
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade in">
                {% elif category == 'good' %}
                    <div class="alert alert-success alert-dismissible fade in">
                {% elif category == 'warning' %}
                    <div class="alert alert-warning alert-dismissible fade in">
                {% else %}
                    <div class="alert alert-info alert-dismissible fade in">
                {% endif %}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{message}}
                    </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>

        <div class="container">
            {% block content %}

            {% endblock %}
        </div>

    </body>
    <footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script type='text/javascript' src="{{url_for('static', filename='bs/js/bootstrap.min.js')}}"></script>
    </footer>
</html>
