{% extends 'base.html' %}
{% block content %}
<div class="row"><div class="col-md-12"><h1><i class="fa fa-users"></i> Brothers</h1></div></div>
{% if brothers|count == 0 %}
None
{% else %}
{% set i = 0 %}
{% for brother in brothers %}
{% set points = brother.get_all_points(g.current_semester)|round(2) %}
{% if points < (avg-(0.25*avg)) %}
{% set label = "danger" %}
{% else %}
{% set label = "success" %}
{% endif %}
{% if brother.pin and brother.name %}
<div class="well row side-pad">
    <div class="col-md-1 text-center space-above">
        {% if brother.pin %}
            <h3><span class="label label-info lblspace">{{brother.pin}}</span></h3>
        {% endif %}
    </div>
    <div class="col-md-3 text-center space-above">
        <div class="row">
            {% if g.user.is_admin() %}
            <h3><a href="{{url_for(".allbrotherpoints", username=brother.email.split('@')[0])}}"><span class="label label-default lblspace">{{brother.name}}</span></a></h3>
            {% else %}
            <h3><span class="label label-default lblspace">{{brother.name}}</span></h3>
            {% endif %}
        </div>
        <div class="row">
            {% if brother.nickname %}
            <em>"{{brother.nickname}}"</em>
            {% endif %}
        </div>
        <div class="row">
            {% if brother.position %}
            {{brother.position}}
            {% endif %}
        </div>
        <div class="row">
            {{brother.family}}
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-8">
                <h3>Events: </h3>
            </div>
            <div class="col-xs-4">
                {% set events = brother.events.filter_by(semester=g.current_semester).all() %}
                {% if not g.user.is_normal_user() %}
                {% for event in events %}
                    {% include 'event.html' %}
                {% endfor %}
                {% endif %}
                <h3 class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><button type="button"  role="button" class="btn btn-primary" style="float: right;">{{events|length}}</button></h3>
                <ul class="dropdown-menu dropdown-menu-center" role="menu">
                    {% if not g.user.is_normal_user() %}
                    {% for event in events %}
                    <li><a href="#" data-toggle="modal" data-target="#evmo{{event.id}}">{{event.name}}</a></li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <h3>Awards: </h3>
            </div>
            <div class="col-xs-4">
                {% set awards = brother.awards.filter_by(semester=g.current_semester).all() %}
                {% if not g.user.is_normal_user() %}
                {% for award in awards %}
                    {% include 'award.html' %}
                {% endfor %}
                {% endif %}
                <h3 class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><button type="button"  role="button" class="btn btn-primary" style="float: right;">{{awards|length}}</button></h3>
                <ul class="dropdown-menu dropdown-menu-center" role="menu">
                    {% for award in awards %}
                    <li><a href="#" data-toggle="modal" data-target="#awmo{{award.id}}"><i class="fa {{award.icon}}" style="color: #{{award.color}};"></i> {{award.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-1">
    {% if g.user.is_admin() %}
    <h3 class="text-center space-above"><span class="label label-{{label}}">{{points}}</span></p></h3>
    {% endif %}
    </div>
    <div class="col-md-5 space-above text-center">
        {% for award in brother.awards[::-1][:4] %}
        {% include 'award.html' %}
        <div class="col-sm-2 col-md-2 award">
            <div class="row text-center">
                <i style="color: #{{award.color}}" class="fa {{award.icon}} fa-4x" title="{{award.semester}} - {{award.points}} Points"></i>
            </div>
            <div class="row text-center">
                <a data-toggle="modal" data-target="#awmo{{award.id}}">{{award.name}}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% set i = i + 1 %}
{% endfor %}
{% endif %}
{% endblock %}
