{% extends 'base.html' %}
{% block content %}
<h1><i class="fa fa-users"></i> Brothers</h1>
{% set i = 0 %}
{% for brother in brothers %}
{% set points = brother.get_all_points(g.current_semester) %}
{% if points < (avg-(0.25*avg)) %}
{% set label = "danger" %}
{% else %}
{% set label = "success" %}
{% endif %}
{% if brother.pin and brother.name %}
<div class="well row profile">
    <div class="col-md-1 text-center">
        {% if brother.pin %}
            <h3><span class="label label-success lblspace">{{brother.pin}}</span></h3>
        {% endif %}
    </div>
    <div class="col-md-3 text-center">
        <div class="row">
            <h3><span class="label label-default lblspace">{{brother.name}}</span></h3>
        </div>
        <div class="row">
            {% if brother.nickname %}
            <em>"{{brother.nickname}}"</em>
            {% endif %}
        </div>
        <div class="row">
            {% if not brother.position == "None" %}
            {{brother.position}}
            {% endif %}
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-8">
                <h3>Events: </h3>
            </div>
            <div class="col-xs-4">
                <h3 class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><button type="button"  role="button" class="btn btn-primary" style="float: right;">{{brother.events.filter_by(semester=g.current_semester).all()|length}}</button></h3>
                <ul class="dropdown-menu" role="menu">
                            {% if g.user.role > 0 %}
                            {% for event in brother.events.all() %}
                            <li><a href="#">{{event.name}}</a></li>
                            {% endfor %}
                            {% endif %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <h3>Awards: </h3>
            </div>
            <div class="col-xs-4">
                <h3 class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><button type="button"  role="button" class="btn btn-primary" style="float: right;">{{brother.awards.filter_by(semester=g.current_semester).all()|length}}</button></h3>
                <ul class="dropdown-menu" role="menu">
                            {% if g.user.role > 0 %}
                            {% for award in brother.awards.all() %}
                            <li><a href="#">{{award.name}}</a></li>
                            {% endfor %}
                            {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-1">
    {% if g.user.role == 2 %}
    <h3 class="text-center space-above"><span class="label label-{{label}}">{{points}}</span></p></h3>
    {% endif %}
    </div>
    <div class="col-md-5 space-above text-center">
        {% for award in brother.awards[::-1][:4] %}
        <div class="col-sm-2 col-md-2 award">
            <div class="row text-center">
                <i style="color: #{{award.color}}" class="fa {{award.icon}} fa-4x" title="{{award.semester}} - {{award.points}} Points"></i>
            </div>
            <div class="row text-center">
                {{award.name}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% set i = i + 1 %}
{% endfor %}
{% endblock %}
