<div class="modal fade" id="evmo{{event.id}}" tabindex="-1" role="dialog" aria-labelledby="mt" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="mt">Event</h4>
            </div>
            <div class="modal-body">
                <div class="jumbotron text-left side-pad">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>{{event.name}} - {{event.points}} Points</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="label label-default label-lg">{{event.print_timestamp()}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small>{{event.description}}</small>
                        </div>
                    </div>
                    <div class="row space-above">
                        <div class="col-sm-12">
                            <div class="label label-primary">{{event.brothers|length}} Brother{% if event.brothers|length != 1 %}s{% endif %}</div>
                        </div>
                    </div>
                    {% if g.user.is_admin() %}
                    <div class="row space-above">
                        <div class="col-sm-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Brothers</h3>
                                </div>
                                <div class="panel-body">
                                    {% for brother in event.brothers %}
                                    <div class="row">
                                        <div class="container">
                                            {{brother.name}}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
