{% extends 'base.html' %}
{% block content %}
<div class="row"><div class="col-md-12"><h1><i class="fa fa-trophy"></i> Founders Cup Standings</h1></div></div>
<div class="jumbotron">
    <div class="container">
        {% set maxpoints = families[0].get_points(g.current_semester) * 1.1 %}
        {% if maxpoints == 0 %}
        {% set maxpoints = 1 %}
        {% endif %}
        {% set i = 1 %}
        {% for family in families %}
        {% set points = family.get_points(g.current_semester) %}
        <div class="row">
            <p>{{i}}. {{family.name}}: {{points}}</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" aria-valuenow="{{points|round(2)}}" aria-valuemin="0" aria-valuemax="{{maxpoints}}" style="width: {{points*100/maxpoints}}%;"></div>
            </div>
        </div>
        {% set i = i + 1 %}
        {% endfor %}
    </div>
</div>
<div class="col-md-12">
    <div class="row"><h3>The Math:</h3></div>
    <div class="row">
<pre>
for family in families:
    total = 0
    bros = set()
    for bro in family.brothers:
        if bro.active:
            bros.add(bro)
            total += bro.get_all_points(semester)
    if semester.season == "Spring":
        try:
            fallsemester = Semester.query.filter_by(season="Fall", year=semester.year-1).one()
            for bro in fallsemester.active_brothers:
                if bro.family is family:
                    bros.add(bro)
                    total += bro.get_all_points(fallsemester)
        except: pass

    if len(sembros):
        family.weighted_score = total/len(bros)
    else:
        family.weighted_score = 0
</pre>
    </div>
</div>
{% endblock %}
