{% extends 'base.html' %}
{% block content %}
<div class="row"><div class="col-md-12"><h1><i class="fa fa-trophy"></i> Founders Cup Standings</h1></div></div>
<div class="jumbotron">
    <div class="container jmargins">
        {% set maxpoints = families[0].get_points(g.current_semester) * 1.1 %}
        {% if maxpoints == 0 %}
        {% set maxpoints = 1 %}
        {% endif %}
        {% set i = 1 %}
        {% for family in families %}
        {% set points = family.get_points(g.current_semester) %}
        <div class="row">
            <p>{{i}}. {{family.name}}: {{points}}</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" aria-valuenow="{{points}}" aria-valuemin="0" aria-valuemax="{{maxpoints}}" style="width: {{points*100/maxpoints}}%;"></div>
            </div>
        </div>
        {% set i = i + 1 %}
        {% endfor %}
    </div>
</div>
<div class="col-md-12">
    <div class="row"><h3>The Math:</h3></div>
    <div class="row">
<pre>
for family in families
    total = 0
    div = 0
    for brother in family.brothers
        if brother.is_active
            div = div + 1
            total = brother.get_all_points()
        endif
    endfor
    family.weighted_score = total/div
endfor
</pre>
    </div>
</div>
{% endblock %}
