{% extends 'eventsbase.html' %}
{% block content %}
<div class="row"><div class="col-md-12"><h1><i class="fa fa-users"></i> Mass Attend</h1></div></div>
<div class="row jumbotron side-pad">
    <div class="col-md-12">
        <form action="" method="POST" name="massattend">
            {{form.hidden_tag()}}
            <div class="row">
                <div class="col-md-12">
                    <strong>Event: </strong>{{form.event}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <strong>Brothers: </strong></br>
                </div>
                {% for brother in form.brothers %}
                <div class="col-xs-6 col-md-3">
                        {{brother()}}  {{brother.label}}
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{form.submit(class="btn btn-primary")}}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
