{% extends 'base.html' %}
{% block content %}
<div class="row jumbotron">
    <form action="" method="POST" name="massattend">
        <div class="small-12 columns">
            {{form.hidden_tag()}}
            <div class="row">
                <strong>Event: </strong>{{form.event}}
            </div>
            <div class="row">
                <strong>Brothers: </strong>
                {% for brother in form.brothers %}
                    <div class="small-3 columns">
                        {{brother()}}  {{brother[1]}}
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                {{form.submit(class="btn btn-primary")}}
            </div>
        </div>
    </form>
</div>
{% endblock %}
