{% extends 'base.html' %}
{% block content %}
{% set points = g.user.get_all_points(g.current_semester) %}
{% set servicehrs = g.user.total_service_hours(g.current_semester) %}
{% if points < (avgpoints-(0.25*avgpoints)) %}
{% set pointlabel = "danger" %}
{% else %}
{% set pointlabel = "success" %}
{% endif %}
{% if servicehrs < (avgsvc-(0.25*avgsvc)) %}
{% set svclabel = "danger" %}
{% else %}
{% set svclabel = "success" %}
{% endif %}
<div class="row"><div class="col-md-12"><h1><i class="fa fa-user"></i> Profile</h1></div></div>
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-12 text-center profile-user">
            <h1>{{g.user.name}} - #{{g.user.pin}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            {% if g.user.nickname %}
            <h2><em>"{{g.user.nickname}}"</em></h3>
            {% endif %}
        </div>
    </div>
    <div class="row space-above">
        <div class="col-sm-12 text-center space-above">
            {% if g.user.position %}
            {{g.user.position}}
            {% endif %}
        </div>
    </div>
    <div class="row text-center space-above">
<div class="modal fade" id="editnickname" tabindex="-1" role="dialog" aria-labelledby="mt" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="mt">Edit Nickname</h4>
            </div>
            <div class="modal-body text-left">
                <div class="jumbotron">
                    <form action="" method="POST" name="edit_nickname">
                        {{form.hidden_tag()}}
                        <h5>{{form.nickname.label}}</h5>{{form.nickname}}
                        {{form.submit(class="btn btn-primary", value="Submit")}}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
        <h5><a href="#" data-toggle='modal' data-target="#editnickname"><button class="btn btn-xs btn-primary">Edit Nickname</button></a><h5>
    </div>
    <div class="row space-above">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Points</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-9">
                            <h3>Your Points: </h3>
                        </div>
                        <div class="col-xs-3">
                            <h3><a href="{{url_for('.allpoints')}}"><span class="label label-{{pointlabel}}" style="float: right;">{{points}}</span></a></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9">
                            <h3>Average Points: </h3>
                        </div>
                        <div class="col-xs-3">
                            <h3><span class="label label-primary" style="float: right;">{{avgpoints}}</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Service Hours</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-10">
                            <h3>Your Service Hrs: </h3>
                        </div>
                        <div class="col-xs-2">
                            {% set service = g.user.service %}
                            <h3 class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><button type="button"  role="button" class="btn btn-{{svclabel}}" style="float: right;">{{servicehrs}}</button></h3>
                            <ul class="dropdown-menu" role="menu">
                                        {% for event in service %}
                                        {% if event.approved %}
                                        <li>{{event.name}} - {{((event.end - event.start).seconds/3600)*event.weight}}h (x{{event.weight}})</li>
                                        {% endif %}
                                        {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10">
                            <h3>Avg. Service Hrs: </h3>
                        </div>
                        <div class="col-xs-2">
                            <h3><span class="label label-primary" style="float: right;">{{avgsvc}}</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Events and Awards</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-8">
                            <h3>Events: </h3>
                        </div>
                        <div class="col-xs-4">
                            {% set events = g.user.events.filter_by(semester=g.current_semester).all() %}
                            {% for event in events %}
                                {% include 'event.html' %}
                            {% endfor %}
                            <h3 class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><button type="button"  role="button" class="btn btn-primary" style="float: right;">{{events|length}}</button></h3>
                            <ul class="dropdown-menu" role="menu">
                            {% for event in events %}
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#evmo{{event.id}}">{{event.name}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <h3>Awards: </h3>
                        </div>
                        <div class="col-xs-4">
                            {% set awards = g.user.awards.filter_by(semester=g.current_semester).all() %}
                            {% for award in g.user.awards %}
                                {% include 'award.html' %}
                            {% endfor %}
                            <h3 class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><button type="button"  role="button" class="btn btn-primary" style="float: right;">{{awards|length}}</button></h3>
                            <ul class="dropdown-menu" role="menu">
                            {% for award in awards %}
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#awmo{{award.id}}"><i class="fa {{award.icon}}" style="color: #{{award.color}};"></i> {{award.name}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-success">
                <div class="panel-heading"><h3 class="panel-title">Awards</h3></div>
                <div class="panel-body">
                    {% for award in g.user.awards.all() %}
                    <div class="col-sm-1 col-md-1 text-center award">
                        <div class="row">
                            <i style="color: #{{award.color}}" class="fa {{award.icon}} fa-4x" title="{{award.semester}} - {{award.points}} Points"></i>
                        </div>
                        <div class="row text-center">
                            <a data-toggle="modal" data-target="#awmo{{award.id}}">{{award.name}}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Recent Points</h3>
    </div>
    <div class="panel-body">
        {% include "gen_list.html" %}
    </div>
</div>
{% endblock %}
