{% extends 'base.html' %}
{% block content %}
{% set points = g.user.get_all_points(g.current_semester) %}
{% if points < (avg-(0.25*avg)) %}
{% set label = "danger" %}
{% else %}
{% set label = "success" %}
{% endif %}
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-12 text-center profile-user">
            <h1>{{g.user.name}} - #{{g.user.pin}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            {% if g.user.nickname %}
            <h2><em>"{{g.user.nickname}}"</em></h3>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            {% if not g.user.position == "None" %}
            {{g.user.position}}
            {% endif %}
        </div>
    </div>
    <div class="row text-center space-above">
        <h5><a href="{{url_for(".edit_nickname")}}"><button class="btn btn-xs btn-primary">Edit Nickname</button></a><h5>
    </div>
    <div class="row space-above">
        <div class="col-sm-5 col-sm-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Points</h3>
                </div>
                <div class="panel-body">
                    <p>Your Points:
                    <span class="label label-{{label}}">{{points}}</span></p>
                    <p>Average Points: <span class="label label-primary">{{avg}}</span></p>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Stats</h3>
                </div>
                <div class="panel-body">
                    <p>Events Attended:
                    <span class="label label-primary">{{g.user.events.filter_by(semester=g.current_semester).all()|length}}</span></p>
                    <p>Awards received:
                    <span class="label label-primary">{{g.user.awards.all()|length}}</span></p>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-success">
                <div class="panel-heading"><h3 class="panel-title">Awards</h3></div>
                <div class="panel-body">
                    {% for award in g.user.awards.all() %}
                    <div class="col-sm-1 col-md-1 text-center award">
                        <div class="row">
                            <i style="color: #{{award.color}}" class="fa {{award.icon}} fa-4x" title="{{award.semester}} - {{award.points}} Points"></i>
                        </div>
                        <div class="row text-center">
                            {{award.name}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Recent Points</h3>
    </div>
    <div class="panel-body">
        {% include "gen_list.html" %}
    </div>
</div>
{% endblock %}
