{% extends 'base.html' %}
{% block head %}
<link href="{{url_for('static', filename='drp/daterangepicker-bs3.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row"><div class="col-md-12"><h1><i class="fa fa-recycle"></i> Report Service Hours</h1></div></div>
<div class="row jumbotron">
    <div class="col-md-12">
        <form action="" method="POST" name="service">
            {{form.hidden_tag()}}
            <div class="row">
                <div class="col-md-12">
                    <h5>{{form.name.label}} </h5>{{form.name}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5>{{form.start.label}} </h5>{{form.start}}<button type="button" id="startpicker" class="btn fa fa-calendar"></button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5>{{form.end.label}} </h5>{{form.end}}<button type="button" id="endpicker" class="btn fa fa-calendar"></button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5>{{form.info.label}} </h5>{{form.info}}
                </div>
            </div>
            {{form.submit(class="btn btn-primary", value="Submit")}}
        </form>
    </div>
</div>
{% endblock %}
{% block footer %}
<script type="text/javascript" src="{{url_for('static', filename='drp/moment.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='drp/daterangepicker.js')}}"></script>
<script type="text/javascript">
$(function() {
    $('#endpicker').daterangepicker({
        singleDatePicker: true,
        format: 'MM/DD/YYYY h:mm A',
        timePicker: true,
        opens: 'center',
        timePickerIncrement: 15,
        startDate: $('#end').val()
    });
    $('#startpicker').daterangepicker({
        singleDatePicker: true,
        format: 'MM/DD/YYYY h:mm A',
        timePicker: true,
        opens: 'center',
        timePickerIncrement: 15,
        startDate: $('#start').val()
    });
    $('#startpicker').on('apply.daterangepicker', function(ev, picker) {
    $('#start').val(picker.startDate.format('MM/DD/YYYY h:mm A'));
    });
    $('#endpicker').on('apply.daterangepicker', function(ev, picker) {
    $('#end').val(picker.startDate.format('MM/DD/YYYY h:mm A'));
    });
});
</script>
{% endblock %}
