{% extends "eventsbase.html" %}
{% block content %}
<div class="row"><div class="col-md-12"><h1><i class="fa fa-pencil"></i> Sign Up Sheets</h1></div></div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Associated Event</th>
                    <th>Description</th>
                    <th>Available Roles</th>
                    <th>Open/Closed</th>
                </tr>
            </thead>
            <tbody>
            {% for sheet in sheets %}
            {% set event = sheet.event %}
                <tr>
                    <td><a href="{{url_for('.signup', id=sheet.id)}}">{{sheet.name}}</a></td>
                    {% if event %}
                    {% include 'event.html' %}
                    <td><a href="#" data-toggle="modal" data-target="#evmo{{event.id}}">{{event.name}}</a></td>
                    {% else %}
                    <td>None</td>
                    {% endif %}
                    {% if sheet.description %}
                    <td>{{sheet.description|truncate(100)}}</td>
                    {% else %}
                    <td>None</td>
                    {% endif %}
                    <td>{{sheet.available_role_list_print}}</td>
                    <td><div class="label label-{% if sheet.closed %}error">Closed{% else %}success">Open{% endif %}</div></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
